/* class --> . */
/* id--># ; fs fontsize */
/* h1.fs-25.text-red */
h1{
    font-size: 45px;
    color: rgb(181, 17, 202);
    font-style: italic;

}
.text-red{
    color: blueviolet;
}
#p-fs-30{
    font-size: 30px;
}

.text-pink{
    color: palevioletred;
}
.fs-14{
font-size: 14px;
}

.fs-25{
font-size: 25px;
}

.fs-40{
font-size: 60px;
}