/*  commen line is ctrl ö in css. */
/* if in html, it is ctrl k c. */
/* body{
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(129, 8, 65);
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Festive', cursive;
}
p{
    color: rgb(192, 40, 65);
    font-size: 35px;
}  usually using class and id is more effective than using h1 things.*/
